html, body {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', Helvetica, sans-serif;
    background-color: white;
  }
  body {
    background-color: #f7f7f7;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 300;
    color: #444444;
  }
  p {
    line-height: 28px;
    margin-bottom: 25px;
    color: #444;
    font-size: 16px;
  }
  .centered {
    text-align: center;
  }
  a {
    color: #009897;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
  }
  a:hover, a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
  }
  a:before, a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #aaa;
    margin: 1em 0;
    padding: 0;
  }
  button:focus {
    outline: 0 !important;
  }


 /* ============================ NAVBAR ============================= */

 .navbar li a {
    text-transform: uppercase;
}

.navbar {
    font-weight: 800;
    font-size: 14px;
    padding-top: 20px;
    /* padding-bottom: 0px; */
}

.navbar-inverse {
    background: #f1f1f1;
    border-color: #11172c;
}

.navbar-inverse .navbar-nav>li>a {
    letter-spacing: 0.5px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.navbar-inverse .navbar-nav>.active>a {
    background: #009897;
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    background: yellow;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    background: yellow;
}

.navbar-inverse .navbar-brand {
    color: #999999;
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 1px;
    padding: 0;
    height: 30px;
}

.navbar-inverse .navbar-brand img {
    width: 120px;
    height: auto;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .navbar-inverse .navbar-brand img {
        margin-top: 13px;
        margin-left: 25px;
    }
}

/* ############################### MY OWN */
.v-header{
	height: 100vh;
	display: flex;
	align-items: center;
	color: #fff;
}

.container{
	max-width: 960px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: auto;
	text-align: center;
}
.fullscreen-video-wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 99.8%;
	overflow: hidden;

}
.fullscreen-video-wrap video{
	min-width: 100%;
	min-height: 100%;
}
.header-overlay{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #8f8f89;
	z-index:1;
	opacity: 0.8;
}
.header-content{
	z-index: 5;
	
}

.header-content h1{
	font-size: 50px;
	margin-bottom: 0;
}
.header-content p{
	font-size: 1.5rem;
	display: block;
	padding-bottom: 2rem;
}

/* ============================ FOOTER ============================= */

#footer {
    background: #0f1f35;
    /* color: #0f1f35; */
  }
  #footer .container {
    width: 75%;
  }
  @media screen and (max-width: 1080px) {
    #footer .container {
      width: 90%;
    }
  }
  #footer h4 {
    color: #f0f0f0;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
  }
  #footer p {
    color: #aaa;
    text-align: left;
    margin-bottom: 10px;
    font-weight: 500;
  }
  #footer .copyright {
    font-size: 14px;
    color: #777;
  }
  #footer form {
    border: 2px solid #009897;
    display: table;
    width: 100%;
    max-width: 300px;
  }
  #footer i {
    color: #bdbdbd;
    font-size: 30px;
    padding: 10px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  #footer i.fa-facebook-official {
    padding-left: 3px;
  }
  #footer i.fa-heart {
    font-size: 16px;
    padding: 0 10px 5px;
  }
  #footer i:hover,
  #footer i:focus {
    color: #009897;
  }
  #footer ul {
    list-style: none;
    text-align: left;
    padding-left: 0;
  }
  #footer ul li a {
    font-weight: 500;
  }
  #footer ul li a:hover,
  #footer ul li a:focus {
    color: #00b7b4;
  }
  #footer .ccis-logo {
    width: 200px;
    -webkit-filter: brightness(0) invert(0.7);
    filter: brightness(0) invert(0.7);
  }
  @media screen and (max-width: 768px) {
    #footer h4 {
      margin-top: 30px;
    }
  }
  @media screen and (max-width: 480px) {
    #footer .container {
      width: 85%;
    }
  }