
/* html, body {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', Helvetica, sans-serif;
  }
  body {
    background-color: #e0e0e0;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 300;
    color: #333;
  }
  p {
    line-height: 28px;
    margin-bottom: 25px;
    color: #333;
    font-size: 16px;
  }
  .centered {
    text-align: center;
  }
  a {
    color: #009897;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
  }
  a:hover, a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
  }
  a:before, a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #aaa;
    margin: 1em 0;
    padding: 0;
  }
  button:focus {
    outline: 0 !important;
  } */

  <!-- /*  NAV BAR */ -->
  
      .navbar li a {
          text-transform: uppercase;
      }
  
      .navbar {
          font-weight: 800;
          font-size: 14px;
          padding-top: 10px;
          padding-bottom: 10px;
      }
      .navbar-inverse {
          background: #0f1f35;
          /* border-color: #0f1f35; */
      }
      .navbar-inverse .navbar-nav > li > a {
          letter-spacing: 0.5px;
          padding-top: 12px;
          padding-bottom: 12px;
          color: rgb(255, 218, 9);
      
      }
      .navbar-inverse .navbar-nav > .active > a {
          background: #009897;
      }
      .navbar-inverse .navbar-nav > .active > a:hover,
      .navbar-inverse .navbar-nav > .active > a:focus {
          background: yellow;
          color: #0f1f35;
      }
  
  
      .navbar-inverse .navbar-brand {
          color: #999999;
          font-weight: bolder;
          font-size: 22px;
          letter-spacing: 1px;
          padding: 0;
          height: 30px;
      }
  
      .navbar-inverse .navbar-brand img {
          width: 100px;
          height: auto;
          /* margin-top: 10px; */
          padding-bottom: 10px;
          position:absolute;
      }
      @media screen and (max-width: 768px) {
          .navbar-inverse .navbar-brand img {
              /* margin-top: 13px; */
              margin-left: 25px;
              /* padding-bottom: 10px; */
          }
          .navbar {
              padding-bottom: 20px;
          }
      }

  