

<!-- <footer>
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px;
            /* The height is 400 pixels */
            width: 100%;
            /* The width is the width of the web page */
        }
    </style>

    <h3>My Google Maps Demo</h3>
        <!-- The div element for the map -->
    <!-- <div id="map"></div>
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var uluru = { lat: 42.811116, lng: 74.627220 };
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 12, center: uluru });
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({ position: uluru, map: map });
        }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDw8ueBocYknKd3zXOGzKTQS-xQk4j0Cpw&callback=initMap">
        </script>



    <a class="dg-widget-link"
        href="http://2gis.kg/bishkek/firm/70000001019330043/center/74.61158752441408,42.83267430318037/zoom/12?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть
        на карте Бишкека</a>
    <div class="dg-widget-link"><a
            href="http://2gis.kg/bishkek/firm/70000001019330043/photos/70000001019330043/center/74.61158752441408,42.83267430318037/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos">Фотографии
            компании</a></div>
    <div class="dg-widget-link"><a
            href="http://2gis.kg/bishkek/center/74.627493,42.810973/zoom/12/routeTab/rsType/bus/to/74.627493,42.810973╎Американский университет Центральной Азии?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти
            проезд до Американский университет Центральной Азии</a></div>
    <script charset="utf-8">

        !function () {
            function o(o) {
                var t = document.getElementById(o);
                t && (t.style.display = "none")
            }
            function t(o) {
                for (var t = document.querySelectorAll("." + o), i = 0; i < t.length; i++)
                    t[i].style.display = "none"
            }
            function i(o, t) {
                var i = "https:" === window.location.protocol ? "https:" : "http:";
                return i + "//widgets.2gis.com/widget?type=" + o + "&options=" + encodeURIComponent(JSON.stringify(t))
            }
            function r(o) {
                if (!o.src) return "";
                // var t = o.borderColor ? "0px solid " + o.borderColor : "none";
                return '<iframe frameborder="no" style="border: ' + t + '; box-sizing: border-box;" width="100%" height="' + o.height + '" src="' + o.src + '"></iframe>'
            }
            window.DG = window.DG || {}, DG.Widget = DG.Widget || {}, DG.Widget.Components = DG.Widget.Components || {},
                window.DGWidgetLoader = function (n) {
                    t("dg-widget-link"), o("firmsonmap_biglink"), o("firmsonmap_biglink_photo"), o("firmsonmap_biglink_route"),
                        n = n || {}, n.org = n.org || [], n.pos = n.pos || {}, n.opt = n.opt || {};
                    var e = n.width || 900; e = e.toString(), "%" != e.slice(-1) && (e = parseInt(e, 10),
                        e = Math.min(1200, e), e = Math.max(500, e));
                    var d = n.height || 600;
                    d = d.toString(), "%" != d.slice(-1) && (d = parseInt(d, 10), d = Math.min(1e3, d), d = Math.max(400, d));
                    for (var s = n.borderColor || "#a3a3aa", a = "", g = 0; g < n.org.length; g++)n.org[g].id && (a += n.org[g].id + ",");
                    a = a.slice(0, -1); var p = { pos: n.pos, opt: n.opt, org: a };
                    document.write(r({ width: e, height: d, borderColor: s, src: i("firmsonmap", p) }))
                },
                DG.Widget.Components.Loader = function (t) {
                    o("2gis_mini_biglink");
                    var n, e, d = 700, s = 400, a = t.resize;
                    a ? (n = a.w ? parseInt(a.w, 10) : d, e = a.h ? parseInt(a.h, 10) : s) : (n = d, e = s),
                        document.write(r({ width: n, height: e, src: i("mini", t) }))
                }
        }();

    </script>
    <script
        charset="utf-8">new DGWidgetLoader({ "height": 400, "pos": { "lat": 42.83267430318037, "lon": 74.61158752441408, "zoom": 12 }, "opt": { "city": "bishkek" }, "org": [{ "id": "70000001019330043" }] });</script>
    <noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в
        настройках вашего браузера.</noscript>
</footer>




<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDw8ueBocYknKd3zXOGzKTQS-xQk4j0Cpw&callback=initMap">
        </script> -->
 



<!-- empty 2gis map  -->
<!-- <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
<script type="text/javascript">
    var map;

    DG.then(function () {
        map = DG.map('map', {
            center: [42.811116, 74.637220],
            zoom: 13
        });

        myIcon = DG.icon({
            iconUrl: 'https://b.kisscc0.com/20180705/eow/kisscc0-google-maps-pin-google-map-maker-google-search-map-pin-5b3dfeebb13789.1573554515307896117259.png',
                iconSize: [60, 60]
            });

        DG.marker([42.811116, 74.627220], {
                    icon: myIcon
                    }).addTo(map).bindPopup('Вы кликнули по мне!');
        DG.control.location({position: 'bottomright'}).addTo(map);
    });
</script>
 -->

<div id="map2" style="width:100%; height:400px"></div>