{% extends "base.html" %}

{% load static from static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


{% block content %}

  <div id="gallery">
    <div class="container">
      <div class="row centered">
       <br>
       <br>
        {% for photo_in_gallery in gallery %}
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a class="gallery-item" data-lightbox="mygallery" href="{{ photo_in_gallery.photo.url }}">
            <img class="cover" src="{{ photo_in_gallery.photo.url }}" alt="photo from the projects" >
          </a>
        </div>
        {% endfor %}
        
        <br>
        <br>
    </div>
  </div>
</div>

<!-- Galerry Style -->
<style>/* ============================ GALLERY ============================= */
  #gallery .container {
    margin-top: 10rem;
    margin-bottom: 5rem;
    padding: 0 0 50px;
    width: 80%;
  }
  #gallery .col-lg-3, #gallery .col-md-3, #gallery .col-sm-3 {
    margin: 10px auto;
  }
  #gallery a.gallery-item {
    height: 250px;
    max-height: 250px;
  }
  #gallery img {
    cursor:auto;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: auto;
  }
  #gallery img.cover {
    object-fit: cover;
    height: 180px;
  }

  #gallery img:hover {
    transform: scale(1.1);
  }
  @media screen and (max-width: 990px) {
    #gallery img.cover {
      object-fit: cover;
      height: 210px;
    }
  }
  @media screen and (max-width: 767px) {
    #gallery img.cover {
      object-fit: cover;
      height: 100%;
      margin: 15px auto;
    }
  }
</style>


{% endblock %}