{% extends "base.html" %}
{% load static %}
{% load i18n %}

<!-- <link rel="stylesheet" href="{% static 'css/style.css' %}" /> -->

{% block content %}

  <div id="blog">
    <div class="container">
        
      {% for project in projects %}
      <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 centered">
              <div class="blog-image">
                  <img class="cover" src="{{ project.photo1.url }}">
              </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8">
              <a href="{% url 'project-detail' project.id %}">
                  <h4>{{project.name}}</h4>
              </a>
              <p class="post-date">19 Мая 2020</p>
              <p>{{project.short_desc | safe}} - {{project.id}}</p>
              <p><a href="{% url 'project-detail' project.id %}" class="btn-default"> {% trans 'More' %}</a></p>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
<style>

#blog {
  margin-top: 10rem;
  padding-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  #blog .container {
    width: 990px;
  }
}
#blog .row {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 35px;
  border-bottom: 1px solid #bbb;
}
#blog .row:last-of-type {
  border: none;
}
#blog img {
  width: 300px;
  height: auto;
}
#blog h4 {
  font-weight: 700;
  font-size: 20px;
  margin-top: 0;
}
#blog p {
  margin-bottom: 10px;
  line-height: 24px;
  font-size: 15px;
  font-weight: 400;
  color: #555;
}
#blog a {
  font-weight: 500;
}
#blog a:hover,
#blog a:focus {
  color: #00b7b4;
}
#blog i {
  font-size: 12px;
  color: #777;
}
#blog a.blog-image {
  height: 250px;
  max-height: 250px;
}
#blog img {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: auto;
}
#blog img.cover {
  object-fit: cover;
  height: 200px;
}
#blog .post-date {
  font-weight: 700;
}
#blog .btn-default {
  color: #009897;
  background: transparent;
  border: 2px solid #009897;
  padding: 5px 15px;
  font-weight: 700;
  display: inline-block;
  margin-top: 20px;
}
#blog .btn-default:hover,
#blog .btn-default:focus {
  background: #009897;
  color: #fff;
}
@media screen and (max-width: 768px) {
  #blog .container {
    padding: 0 50px;
  }
  #blog h4 {
    margin-top: 30px;
  }
  #blog a.blog-image {
    height: 100%;
    max-height: 100%;
  }
  #blog img.cover {
    object-fit: cover;
    height: auto;
  }
}
#blog-banner .container {
  width: 100%;
  margin: 0;
  padding: 0;
}
#blog-banner .row {
  margin: 0;
}
#blog-banner .col-lg-12, #blog-banner .col-md-12, #blog-banner .col-sm-12 {
  padding: 0;
}
#blog-banner img {
  cursor: pointer;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: auto;
}
#blog-banner img.cover {
  object-fit: cover;
  height: 250px;
}
#post .post-content {
  margin: 125px auto 100px;
  max-width: 700px;
  width: 650px;
}
#post .post-content a {
  font-weight: 500;
}
#post .post-content h1 {
  font-weight: 700;
}
#post .post-content h2, #post .post-content h3 {
  line-height: 1.5;
  font-weight: 700;
}
#post .post-content i.fa-tag {
  color: #555;
}
#post .post-content .author {
  font-weight: 500;
}
#post .post-content p {
  font-size: 18px;
  font-weight: 400;
  color: #555;
  margin: 25px 0;
}
#post .post-content li {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  #post .post-content {
    width: 80%;
  }
}
#backToBlog {
  padding: 20px 0 15px;
  background: #009897;
}
#backToBlog h3 {
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  font-weight: 500;
}
#backToBlog a {
  width: 100%;
}

</style>

</div>


{% endblock %}