{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>

<head>
    <title>{% trans 'Enactus Auca' %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

</head>

<body>

    <div id=languages right=0px>
        <a href="/ru{{ request.get_full_path |slice:'3:'}}">Руский</a>
        <a href="/en{{ request.get_full_path |slice:'3:'}}">English</a>
    </div>

    <!-- <style>
        #languages {
            /* position: absolute; */
            /* top: 0px; */
            left: 100px;
            margin-left: 100px;
            /* text-emphasis-color: red1; */
        }
    </style> -->


    <!-- <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <select name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
            {% endfor %}
        </select>
        <input type="submit" value="Go">
    </form> -->




    <div class="container">
        <h1> The list of the things in the database: </h1>

        <div id="about">
            <h2>{{ aboutEnactus.title }}</h2>
            <p> {{ aboutEnactus.text }}</p>
            <img src="{{ aboutEnactus.photo.url }}" alt="photo from the aboutEnactus" width="50%">

        </div>
        <hr>
        <div id="projects">
            <h1>{% trans 'Projects in the database' %}:</h1>
            {% for project in projects %}
            <h3>{{ project.name }}</h3>
            <p> {{ project.description | safe}}</p>
            <img src="{{ project.photo.url }}" alt="photo from the projects" width="50%">
            <br>
            <br>
            {% endfor %}
        </div>
        <hr>
        <div id="contact">
            <h1>{% trans 'Contacts' %}</h1>
            <p> {% trans 'Phone numbers' %}: {{ contact.phone_num1 }}, {{ contact.phone_num2 }}</p>

        </div>

    </div>

</body>

</html>