{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>

<head>
    <title>{% trans 'Enactus Auca' %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

</head>

<body>

    <div id=languages right=20px>
        <a href="/ru{{ request.get_full_path |slice:'3:'}}">Руский</a>
        <a href="/en{{ request.get_full_path |slice:'3:'}}">English</a>
    </div>


    <div class="container">

        <h1> The list of the things in the database: </h1>

        <div id="about">
            <h2>{{ aboutEnactus.title }}</h2>
            <p> {{ aboutEnactus.text }}</p>
            <img src="{{ aboutEnactus.photo.url }}" alt="photo from the aboutEnactus" width="50%">

        </div>
        <hr>
        <div id="projects">
            <h1>{% trans 'Projects in the database' %}:</h1>
            {% for project in projects %}
            <h3>{{ project.name }}</h3>
            <p> {{ project.description | safe}}</p>
            <img src="{{ project.photo.url }}" alt="photo from the projects" width="50%">
            <br>
            <br>
            {% endfor %}
        </div>
        <hr>
        <div id="contact">
            <h1>{% trans 'Contacts' %}</h1>
            <p> {% trans 'Phone numbers' %}: {{ contact.phone_num1 }}, {{ contact.phone_num2 }}</p>

        </div>



        <form action='.' method='POST'>{% csrf_token %}
            {{ form.as_p }}
            <input type='submit' value='Save' />
        </form>

    </div>

    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Afc3959f29a25a2ccab7d73c1b3f7ef5de5d663589f71eb0634733870138f2747&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
</body>



</html>